<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template filmes</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>7 Days of Code dia 4</h1>
  <img width="300px" height="200px" src="foto gato.jpg" alt="foto de gato deitado"><br>
  <span>Um dia na vida de um gato</span><br>
  <video width="600px" height="350px"  controls="controls" autoplay="autoplay" loop="loop">
  <source src="https://static.videezy.com/system/resources/previews/000/036/487/original/180524-Bangkok-sea01-pan_PhJp90mov.mp4" alt="imagem plantação arroz passagem tempo" type="video/mp4">
  <object data="" width="600px" height="400px">
  <embed widht="600px" height="400px" src="https://static.videezy.com/system/resources/previews/000/036/487/original/180524-Bangkok-sea01-pan_PhJp90mov.mp4">
    </object>
    </video>
</body>
</html>